{% extends 'glowny.html' %}
{% block tytul %} Lista Komiksów {% endblock %}

{% block strona %}
    {% if user.is_authenticated %}
        Witaj {{ user.username }} !<br>
        <a href="{% url 'logout_url' %}">Logout</a>
    {% else %}
        <a href="{% url 'login_url' %}">Login</a>
    {% endif %}

    <hr>

    <h2> <a href="{% url 'nowy_komiks' %}">Dodaj Komiks</a> </h2>

    {% if komiksy|length == 0 %}
        <h2>Brak Komiksów</h2>
    {% else %}
        <h2>Ilosc komiksów w bazie: {{ komiksy|length }}</h2>
        {% for komiks in komiksy%}
        <div class="card" style="width: 22rem;">
          <div class="card-body">
            <h5 class="card-title">{{ komiks }}</h5>
            <p class="card-text">{{ komiks.opis }}</p>
            <a href="{% url 'edytuj_komiks' komiks.id %}"><i class="fa-solid fa-2x fa-gear"></i></a>
            <a href="{% url 'usun_komiks' komiks.id %}"><i class="fa-solid fa-2x fa-trash-can"></i></a>
          </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}
