{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Komiks form {% endblock %}

{% block strona %}
        <div class="card mx-auto" style="width: 48rem;">
          <div class="card-body">
            {% if  nowy %}
                <h3 class="card-title">Nowy Komiks</h3>
            {% else %}
                <h3 class="card-title">Edytuj Komiks</h3>
            {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|bootstrap}}
                    {{form_dodatkowe|bootstrap}}
                    <br>
                        {% if  nowy %}
                            <button type="submit" class="btn btn-outline-success">Dodaj Komiks</button>
                        {% else %}
                            <button type="submit" class="btn btn-outline-success">Zapisz Komiks</button>
                        {% endif %}
                </form>
          </div>
            <a href="{% url 'wszystkie_komiksy' %}">Cofnij</a>
        </div>
        <br>
        <div class="card mx-auto" style="width: 48rem;">
          <div class="card-body">
            <h3 class="card-title">Oceń Komiks</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form_ocena|bootstrap}}
                <button type="submit" class="btn btn-outline-success">Oceń</button>
            </form>
          </div>
        </div>

        {% if aktorzy|length != 0%}
        <div class="card mx-auto" style="width: 48rem; margin-top: 20px;">
            <div class="card-body">
                <h3 class="card-title">Obsada</h3>
                {% for aktor in aktorzy%}
                    <p>{{aktor.imie}} {{aktor.nazwisko}}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if oceny|length != 0%}
            <div class="card mx-auto" style="width: 48rem; margin-top: 20px;">
              <div class="card-body">
                    <h3 class="card-title">Recenzje</h3>
                        {% for ocena in oceny%}
                            <h5>Gwiazdki: {{ocena.gwiazdki}}</h5>
                            <p>Recenzja: {{ocena.recenzja}}</p>
                        {% endfor %}
              </div>
            </div>
        {% endif %}

{% endblock %}