{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Komiks form {% endblock %}

{% block strona %}
        <div class="card mx-auto" style="width: 48rem;">
          <div class="card-body">
            {% if  nowy %}
                <h5 class="card-title">Nowy Komiks</h5>
            {% else %}
                <h5 class="card-title">Edytuj Komiks</h5>
            {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|bootstrap}}
                    {{form_dodatkowe|bootstrap}}
                    <br>
                        {% if  nowy %}
                            <button type="submit" class="btn btn-outline-success">Dodaj Komiks</button>
                        {% else %}
                            <button type="submit" class="btn btn-outline-success">Zapisz Komiks</button>
                        {% endif %}
                </form>
          </div>
            <a href="{% url 'wszystkie_komiksy' %}">Cofnij</a>
        </div>
{% endblock %}