{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Login {% endblock %}

{% block strona %}
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <div class="card" style="width: 18rem;">
      <div id="logCard" class="card-body">
        <h5 id="UserCard" class="card-title">Login</h5>
          <i id="user_icon" class="fa-regular fa-user"></i>
          <form method="post" >
            {% csrf_token %}
            {{ form }} <!-- form|bootstrap -->
            <label class="logtext" for="username">Username</label><br>
            <input type="text" id="username" name="username"><br>
            <label class="logtext" for="password">Password</label><br>
            <input type="password" id="password" name="password"><br><br>
            <button id="buttonlog" class="btn btn-outline-primary" type="submit">Login <i class="fa-solid fa-right-to-bracket"></i></button>

          </form>
      </div>
    </div>
{% endblock %}