{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Login {% endblock %}

{% block strona %}
    <div class="d-flex align-items-center justify-content-center" style="min-height: 65vh;">
        <div class="card mx-auto" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Login  <i id="user_icon" class="fa-regular fa-user"></i></h5>
              <form method="post" >
                {% csrf_token %}
                {{ form }} <!-- form|bootstrap -->
                <label class="logtext" for="username">Username</label><br>
                <input type="text" id="username" name="username"><br>
                <label class="logtext" for="password">Password</label><br>
                <input type="password" id="password" name="password"><br><br>
                <button id="buttonlog" class="btn btn-outline-primary" type="submit">Login <i class="fa-solid fa-right-to-bracket"></i></button>
              </form>
              {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
              {% endif %}
          </div>
        </div>
    </div>

{% endblock %}