{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Login {% endblock %}

{% block strona %}
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Login</h5>
          <!--<i class="fa-regular fa-user"></i>-->
          <form method="post" >
            {% csrf_token %}
            {{ form }} <!-- form|bootstrap -->
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Login">
          </form>
      </div>
    </div>
{% endblock %}